.menu_background{
  height: 73px;
  background-color: #C3F73A;

}

.logo{
  width: 130px;
  height: 65px;
  margin-left: 8%;
  margin-right: 10%;
}

.menu_button{

  width: 200px;
  height: 65px;
  margin-left: 4px;


  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
  background-color: transparent;
  justify-content: center;

  border-color: transparent;

  border-style: solid;
  border-width: 1px;
}
.menu_button_text{
  color: #FFFFFF;
}

.menu_button_sign_up{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
}

