.menu_background{
  height: 73px;
  background: rgb(252, 237, 100);
}

.logo{
  width: 70px;
  height: 70px;
  margin-left: 3%;

}

.logo_text_div{
  height: 70px;
  width: 400px;
  margin-left: 20px;
  margin-right: 6%;
  position: relative;
  font-size: x-large;
  font-weight: bold;
  font-family: "MV Boli";
  color: #D17542;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menu_button{

  width: 200px;
  height: 65px;
  margin-left: 4px;


  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
  background-color: transparent;
  justify-content: center;

  border-color: transparent;

  border-style: solid;
  border-width: 1px;
}
.menu_button_text{
  color: #FFFFFF;
}

.menu_button_sign_up{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
}

