.datetime_text {
  font-size: small;
  font-style: italic;
  color: gray;
  float: right;
}

body {
  background-color: rgb(252, 255, 235);
}

.nbvm{

color: #ff7b7b;
}
#menu {
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

#filterBlock {
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}